@Styles.Render("~/FullCalendar/css")
@Scripts.Render("~/Fullcalendar/fullcalendar")
@Scripts.Render("~/Application/fullcalendar")

<div>
    <h1>Deployment Calendar</h1>
    <div ng-controller="releasecalendarCTRL">
        <div id='calendar'></div>
    </div>
</div>
