@Scripts.Render("~/application/release-detail")
</br>
<h1>Deployment Details</h1>
</br>
    <div ng-controller="releasedetail">
        <form calss="form-inline">
            <div class="form-group row">
                <label class="col-sm-2" for="region-select">Region</label>
                <div class="col-sm-10">
                    <select class="form-control" id="region-select" ng-model="newRelease.Region">
                        <option value="NA">NA</option>
                        <option value="EU">EU</option>
                        <option value="APAC">APAC</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="region-select">Project</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-options="project.ProjectID as project.Name for project in projects track by project.ProjectID"  ng-model="newRelease.ProjectID"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-labe" for="title">Release Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="newRelease.ReleaseTitle">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="prod-prev-check"> KT / Package / PP / Temp URL / DNS</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-check-input release-date" data-date-picker-id="#dt-kt" id="prod-KT-check" ng-model="dtkt">
                    <input type="checkbox" class="form-check-input release-date" data-date-picker-id="#dt-pkg" id="prod-Package-check" ng-model="dtpkg">
                    <input type="checkbox" class="form-check-input release-date" data-date-picker-id="#dt-pp" id="prod-prev-check" ng-model="dtpp">
                    <input type="checkbox" class="form-check-input release-date" data-date-picker-id="#dt-temp-url" id="prod-tempurl-check" ng-model="dtlive">
                    <input type="checkbox" class="form-check-input release-date" data-date-picker-id="#dt-dns" id="prod-dns-check" ng-model="dtdns">
                </div>
            </div>
            <div class="form-group row" ng-show="dtkt">
                <label class="col-sm-2" for="dt-kt">KT date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" data-type="KT" id="dt-kt">
                </div>
            </div>
            <div class="form-group row" ng-show="dtpkg">
                <label class="col-sm-2" for="prod-package-date">Package date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" data-type="PKG" id="dt-pkg">
                </div>
            </div>
            <div class="form-group row" ng-show="dtpp">
                <label class="col-sm-2" for="prod-pp-date">Prod preview date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" data-type="PP" id="dt-pp">
                </div>
            </div>
            <div class="form-group row" ng-show="dtlive">
                <label class="col-sm-2" for="prod-live-date">Live / Temp URL date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" data-type="LIVE" id="dt-temp-url">
                </div>
            </div>
            <div class="form-group row" ng-show="dtdns">
                <label class="col-sm-2" for="prod-dns-date">DNS Switch date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" data-type="DNS" id="dt-dns">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="has-tfs-check">Contain TFS Item / Sitecore Item / External Service</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-check-input" id="has-tfs-check" ng-model="itemtfs">
                    <input type="checkbox" class="form-check-input" id="has-sc-check" ng-model="itemsc">
                    <input type="checkbox" class="form-check-input" id="has-3rdservice-check" ng-model="itemextservice">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2" ng-show="itemtfs"><a id="a-add-tfs" ng-click="showModalPopUp('#tfs-modal')">{{TfsDetail}}</a> </div>
                <div class="col-sm-2" ng-show="itemsc"><a id="a-add-sc" ng-click="showModalPopUp('#sc-modal')">{{SCDetails}}</a> </div>
                <div class="col-sm-2" ng-show="itemextservice"><a id="a-add-sc" ng-click="showModalPopUp('#extservice-modal')">{{ExternalService}}</a> </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-labe" for="req-notice-list">Request Notification List</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="req-notice-list" aria-describedby="req-notice-help" placeholder="Request Notification List" ng-model="newRelease.Notification">
                    <small id="req-notice-help" class="form-text text-muted">Seperate email id's with ";".  ex:- email1@test.com;email2@test.com.</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-labe" for="req-status">Status</label>
                <div class="col-sm-10">
                    <select class="form-control" id="status-select" ng-model="newRelease.Status">
                        <option>Open</option>
                        <option>In Progress</option>
                        <option>Pending</option>
                        <option>Completed</option>
                        <option>Cancelled</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-labe" for="req-status">Comment</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="req-comment" ng-model="newRelease.Comment"> </textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-labe" for="req-reviewer">Reviewer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="req-reviewer" aria-describedby="req-reviewer-help" placeholder="Reviewer" ng-model="newRelease.Reviewer">
                    <small id="req-reviewer-help" class="form-text text-muted">Seperate email id's with ";".  ex:- email1@test.com;email2@test.com..</small>
                </div>
            </div>


            <button type="submit" class="btn btn-primary" ng-click="saveNewRelease(newRelease)">Submit</button>
        </form>

        <!-- Modal -->
        <div id="tfs-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add TFS file path\change set details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="file-path-info">
                            <div>File path</div>
                            <div ng-repeat="file in files">
                                <div>{{file.FilePath}}</div>
                            </div>
                            <div>
                                <input type="text" placeholder="TFS File Path" ng-model="tfsfilepath" />
                                <button id="add-tfs-file" ng-click="addItemDetails(files ,{FilePath:tfsfilepath} )" type="button" class="btn btn-default">Add</button>
                            </div>
                        </div>
                        <div class="file-changeset-info">
                            <div>File path</div>
                            <div ng-repeat="changeset in changesets">
                                <div>{{changeset.ChangeSetNumber}}</div>
                            </div>
                            <div>
                                <input type="text" placeholder="TFS File Change set number" ng-model="tfschangeset" />
                                <button type="button" id="add-tfs-changeset" class="btn btn-default" ng-click="addItemDetails(changesets ,{ChangeSetNumber:tfschangeset} )">Add</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div id="sc-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Sitecore Package Detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="file-path-info">
                            <div>Package TFS path</div>
                            <div ng-repeat="package in packages">
                                <div>{{package.FilePath}} &nbsp; <span class="glyphicon glyphicon-remove"></span></div>
                            </div>
                            <div>
                                <input type="text" placeholder="Sitecore package TFS path" ng-model="tfsscpath" />
                                <button id="add-tfs-file" ng-click="addItemDetails(packages ,{FilePath:tfsscpath} )" type="button" class="btn btn-default">Add</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div id="extservice-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add External services detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-2" for="region-select">Services</label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-options="service as service.Name for service in services track by services.serviceid" ng-model="selectedserviceid"></select>
                            </div>
                            <div class="col-sm-4"><button id="add-tfs10-file" ng-click="addItemDetails(packages ,{FilePath:tfsscpath} )" type="button" class="btn btn-default">Add</button></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
