@Scripts.Render("~/application/project-detail")
</br>
<div ng-controller="projectdetail">
    <div>
        <form calss="form-inline">
            <div class="form-group row">
                <label class="col-sm-2" for="project-name">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project-name" ng-model="newProject.Name"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="region-select">Region</label>
                <div class="col-sm-10">
                    <select class="form-control" id="region-select" ng-model="newProject.Region">
                        <option value="NA">NA</option>
                        <option value="EU">EU</option>
                        <option value="APAC">APAC</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="project-dpm">DPM</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project-dpm" ng-model="newProject.DPMID" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2" for="default-lang-select">Default Language</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-options="language.LanguageID as language.LanguageCode for language in languages track by language.LanguageID" ng-model="newProject.DefaultLanguageID"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="is-multi-ling-check">Is Multilingual</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-check-input" id="is-multi-ling-check" ng-model="newProject.IsMultilingual">
                </div>
            </div>
            <div class="form-group row" ng-show="newProject.IsMultilingual">
                <label class="col-sm-2" for="supported-lang-select">Supported Language</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" ng-options="language as language.LanguageCode for language in languages track by language.LanguageID" ng-model="newProject.ProjectLanguages"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="project-stg-preview">Stage Preview</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project-stg-preview" ng-model="newProject.StagePreviewURL" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="project-stg-cd">Stage CD</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project-stg-cd" ng-model="newProject.StageCDURL" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="project-prod-prev">Prod Preview</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project-prod-prev" ng-model="newProject.ProdPreviewURL" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="project-prod-cd">Prod CD</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project-prod-cd" ng-model="newProject.ProdCDURL" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2" for="project-comment">Comment</label>
                <div class="col-sm-10">
                    <textarea  class="form-control" id="project-comment" ng-model="newProject.Comment"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="saveProject(newProject)">Save</button>
        </form>
        </br>
        <div class="col-sm-2" style="background-color:lavender;">Name</div>
        <div class="col-sm-2" style="background-color:lavender;">Region</div>
        <div class="col-sm-2" style="background-color:lavender;">DPM</div>
        <div class="col-sm-2" style="background-color:lavender;">Stage CD</div>
        <div class="col-sm-2" style="background-color:lavender;">Live</div>
        <div class="col-sm-2" style="background-color:lavender;">Delete</div>

        <div ng-repeat="project in projects">
            
            <div class="col-sm-2" style="background-color:lavenderblush;">{{project.Name}}</div>
            <div class="col-sm-2" style="background-color:lavenderblush;">{{project.Region}}</div>
            <div class="col-sm-2" style="background-color:lavenderblush;">{{project.DPMID}}</div>
            <div class="col-sm-2" style="background-color:lavenderblush;">{{project.StageCDURL}}</div>
            <div class="col-sm-2" style="background-color:lavenderblush;">{{project.ProdCDURL}}</div>
            <div class="col-sm-2" style="background-color:lavenderblush;" ng-click="removeProject(project)"><span class="glyphicon glyphicon-remove"/></div>
        </div>
    </div>
    </br>



  

</div>